<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newreads">


<uses-permission android:name="android.permission.INTERNET" />

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="NewsReads"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".signup.CreateAccountActivity"></activity>
    <activity
        android:name=".signup.LoginActivity"
        android:theme="@style/Theme.Design.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ui.library1">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.newreads.ui.MainActivity" />
    </activity>

    <activity android:name=".ui.intro1" />
        <meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".signup.LoginActivity" />

        <activity android:name=".ui.MainActivity" />

        <meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".signup.LoginActivity" />

</application>

</manifest>